<h1>Our Blog</h1>

<% @posts.each do |post| %>
<h1><%= link_to post.title, post %></h1>
<p><%= post.content %></p>
<p><%= link_to 'Show', post_path(post) %></p>
<p><%= link_to "Edit", edit_post_path(post)%></p>
<p><%= link_to "Delete", post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<hr />
<% end %>


<p><%= link_to "Add a new post", new_post_path %></p>